@charset "utf-8";

div{
	height: 300px;
	width: 400px;
	border: 1px solid #000;
	margin: 10px;
}

#div-1{
	background-image: url('php.jpg');
}

#div-2{
	background-image: url('php.jpg');
	background-repeat: no-repeat;
}

#div-3{
	background-image: url('php.jpg');
	background-repeat: repeat-x;
}

#div-4{
	background-image: url('php.jpg');
	background-repeat: repeat-y;
}