@charset "utf-8";

div{
    margin: 70px;
    border: 1px solid #000000;
    background-color: #fff000;
    width: 100px;
    height: 100px;
}

#div1{
    transform: translate(50px, -20px);
    -webkit-transform: translate(50px, -20px);
    -moz-transform: translate(50px, -20px);
    -o-transform: translate(50px, -20px);
    -ms-transform: translate(50px, -20px);
}

#div2{
    transform: scale(0.5, 2);
    -webkit-transform: scale(0.5, 2);
    -moz-transform: scale(0.5, 2);
    -o-transform: scale(0.5, 2);
    -ms-transform: scale(0.5, 2);
}

#div3{
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
}

#div4{
    transform: skew(10deg, -45deg);
    -webkit-transform: skew(10deg, -45deg);
    -moz-transform: skew(10deg, -45deg);
    -o-transform: skew(10deg, -45deg);
    -ms-transform: skew(10deg, -45deg);
}